/* Felles for flere sider */
body {
	margin: auto;
	background-color: #F2F2F2;
	
	min-height:100%;
  position:relative;
	
}

#navbar {
	width: 100%;
	background-color: #F2F2F2;
	height: 70px;
}

#logo {
	float: left;
	display: inline-block;
}

nav {
	float: right;
	
}

p {
	font-size: 16px;
	font-family: Serif, Georgia, Arial;
}

ul {
    margin: 0px;
    padding: 0px;
}

#navul, #navul > li {
	display: inline-block;
	float: left;
	padding: 10px;
}

.navlink {
    color: #333333;
    text-decoration: underline;
    font-size: 30px;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}


a:hover {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

#banner > img {
	width: 100%;
}

section {
	width: 100%;
	height: 100%;
	min-height: 1200px;
	margin: auto;
  max-width: 1100px;
}

lh {
	
	font-size: 150%;
}

.content {
	background-color: #D9D9D9;
	padding: 20px 20px 20px 20px;
	margin: 10px;
}

/* Spesifikk css. PrOv A bruk IDs og classes med deskriptive navn*/

/* CSS FOR DEVBLOG */
#blogarticlescontainer {
    display: block;
    float: left;
		overflow: auto;	
    max-width: 750px;
    width: 100%;
		height: 1200px;
}

#prevnext {
    display: flex;
    justify-content: space-between;
    color: grey;
    font-size: 120%;
    width: 90%;
		
		margin: auto;
}

#prev {
    display: inline-block;
    text-align: left;
}

#next {
    display: inline-block;
    text-align: right;
    margin-right: 0px;
}


.blogarticle {
	background-color: #D9D9D9;
	padding: 20px 20px 20px 20px;
	margin: 10px;
}

p {
	font-size: 16px;
}

.blogaside {
	display: block;
	float: right;
	overflow: auto;	
	background-color: #D9D9D9;
	padding: 20px 20px 20px 20px;
	margin: 10px;
	width:  20%;
}

.blogarticle, .blogaside {
    margin-top: 30px;
}

#blogsearchbar {
    width: 80%;
}

li {
    list-style-type: none;
}

.archiveul {
	margin-left: 10px;
}

.tags {
    font-size: 90%;
    text-align: right;
    color: grey;
    margin-right: 0px;
}

.date {
    color: grey;
    font-size: 9px;
}

.archivemonths {
	font-size: 80%;
}

.blogheader {
		font-size: 180%;
		margin-bottom: 0px;
	margin-top: 0px;
}

/* CSS FOR DEVBLOG END */

/* footer */

footer {
	background-color: #333333;
	
	left: 0;
	bottom: 0;
	font-weight: bold;
	color: #cccccc;
	font-size: 14px;
	height: 220px;
	width: 100%;
	overflow: hidden;
	margin-top: 10px;
	padding: 8px auto;
	text-align: center;
}
#social {
	width: 104px;
	margin: auto;
}
footer ul {
	list-style: none;
	padding: 0;
}
footer ul li{
	display: inline;
}
.socicon {
	height: 50px;
}

/* Lore specific */ 
.lore-content {
	width: 80%;
	background-color: #D9D9D9;
	margin: 20px auto;
	padding: 20px;
}

/* Submission specific */
#submit-container {
	width: 80%;
	margin: 20px auto;
}

textarea {
	opacity: 0;
	resize: none;
	width: 100%;
	margin: 20px 0;
}

label {
	margin-right: 50px;
}

input[type=submit] {
	opacity: 0;
	margin: 10px;
	padding: 10px;
	width: 200px;	
}

@keyframes fadeIn {
	0% { opacity: 0 }
	100% { opacity: 1 }
}

@keyframes fadeOut {
	0% { opacity: 1 }
	100% { opacity: 0 }
}

.fade-in {
	opacity: 0;
	-webkit-animation: fadeIn .3s linear forwards;
	animation: fadeIn .3s linear forwards;
}

.fade-out {
	opacity: 1;
	-webkit-animation: fadeOut .3s linear forwards;
	animation: fadeOut .3s linear forwards;
}

#buttonHolder {
	width: 100%;
	text-align: center;
}



