body {
	margin: 0px;
	background-color: #F2F2F2;
}

#navbar {
	width: 100%;
	background-color: #F2F2F2;
	height: 70px;
}

#logo {
	float: left;
	display: inline-block;
}

nav {
	float: right;
	
}

ul {
    margin: 0px;
    padding: 0px;
}

#navul, #navul > li {
	display: inline-block;
	float: left;
	padding: 10px;
}

.navlink {
    color: #333333;
    text-decoration: underline;
    font-size: 45px;
}

a:link {
    color: #333333;
    text-decoration: none;
}

a:visited {
    color: #333333;
    text-decoration: none;
}


a:hover {
    color: #333333;
    text-decoration: none;
}

a:active {
    color: #333333;
    text-decoration: none;
}

#banner > img {
	width: 100%;
}

section {
	width: 800px;
	margin: auto;
}

#articles {
    display: inline-block;
    float: left;
    width: 70%
}

article {
    
	background-color: #D9D9D9;
	padding: 20px 20px 20px 20px;
	margin: 10px;

}

p {
	font-size: 16px;
}

.blogaside {
    display: inline-block;
    float: right;
    background-color: #D9D9D9;
	padding: 20px 20px 20px 20px;
	margin: 10px;
    width:  20%
}

#searchbar {
    width: 80%;
}

li {
    list-style: none;
}